name: Blog Backend CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install libssl1.1 for mongodb-memory-server
        run: |
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl1.1/libssl1.1_1.1.1f-1ubuntu2.16_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2.16_amd64.deb

      - name: Install dependencies
        run: npm install

      - name: Run linter on backend
        run: npm run lint

      - name: Run backend tests
        run: npm test
